# Ignore scripts built for testing and/or modifying the xl spreadsheets

ignored_scripts/

#Ignore various excel spreadsheet files being used to test the functions (may change later to allow for the final example xl spreadsheet)

*.xlsx
*.numbers

# Ignore the cache file

__pycache__

# Ignore the .DS_store file

.DS_store
